![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas Series exercises

In [230]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the version and the configuration
print("numpy version", np.__version__)
print("pandas version", pd.__version__)

numpy version 1.24.4
pandas version 2.0.3

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series Basic - creation, name, type

---
Create an empty pandas Series
- hint: we create empty numpy like this: `np.array()`

In [232]:
# your code goes here

In [ ]:
pd.Series()

Series([], dtype: object)

---
Given the X python list convert it to an Z pandas Series

In [234]:
X = [11.1, 12.2, 13.3, 14.4]  # given

In [235]:
# your code goes here

In [236]:
# answer
Z = pd.Series(X)
Z

0    11.1
1    12.2
2    13.3
3    14.4
dtype: float64

---
Using the Z python Series you just made, create Y pandas Series, but must with `dtype=int` option

In [237]:
# your code goes here

In [238]:
Y = pd.Series(Z, dtype=int)
Y

0    11
1    12
2    13
3    14
dtype: int64

---
print type of Series you just created to see `pandas.core.series.Series`

In [239]:
# your code goes here

In [240]:
# answer
type(Y)

pandas.core.series.Series

---
print data type of Series you just created to check it is integer

In [241]:
# your code goes here

In [242]:
# answer
Y.dtype

dtype('int64')

---
Given the X pandas Series, name it 'My letters'

In [243]:
X = pd.Series(["A", "B", "C"])

In [244]:
# your code goes here

In [245]:
# answer
X.name = "My letters"
X

0    A
1    B
2    C
Name: My letters, dtype: object

---
Given the X pandas Series
- show its `values`
- show the type of values is `numpy array`
- show the data type of values is `boolean`

In [246]:
X = pd.Series([True, False, True])

In [247]:
# your code goes here

In [248]:
print(X.values)
print(type(X.values))
print(X.values.dtype)

[ True False  True]
<class 'numpy.ndarray'>
bool

---
Given the X pandas Series of `[True, False, True]`
- convert its datatype to be integer so it has values of `[1, 0, 1]`

In [249]:
X = pd.Series([True, False, True])

In [ ]:
# your code goes here

In [250]:
X = X.astype(int)
X

0    1
1    0
2    1
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

---
Assign string index the given X pandas Series

In [251]:
X = pd.Series(["A", "B", "C"])
index_names = ["first", "second", "third"]

In [252]:
# your code goes here

In [253]:
X.index = index_names
X

first     A
second    B
third     C
dtype: object

---
Given the X pandas Series, show its first element

In [254]:
X = pd.Series(["A", "B", "C"], index=["first", "second", "third"])

In [ ]:
# your code goes here

In [256]:
# X[0] # by position
# X.iloc[0] # by position
X["first"]  # by index

'A'

---
Given the X pandas Series, show its last element

In [257]:
X = pd.Series(["A", "B", "C"], index=["first", "second", "third"])

In [ ]:
# your code goes here

In [259]:
# X[-1] # by position
# X.iloc[-1] # by position
X["third"]  # by index

'C'

---
Given the X pandas Series, show all middle elements

In [260]:
X = pd.Series(
    ["A", "B", "C", "D", "E"], index=["first", "second", "third", "forth", "fifth"]
)

In [261]:
# your code goes here

In [262]:
# X[['second', 'third', 'forth']]
# X.iloc[1:-1] # by position
X[1:-1]  # by position

second    B
third     C
forth     D
dtype: object

---
Given the X pandas Series, show the elements in reverse position

In [263]:
X = pd.Series(
    ["A", "B", "C", "D", "E"], index=["first", "second", "third", "forth", "fifth"]
)

In [264]:
# your code goes here

In [265]:
# X.iloc[::-1]
X[::-1]

fifth     E
forth     D
third     C
second    B
first     A
dtype: object

---
Given the X pandas Series, show the first and last elements

In [266]:
X = pd.Series(
    ["A", "B", "C", "D", "E"], index=["first", "second", "third", "forth", "fifth"]
)

In [267]:
# your code goes here

In [268]:
X.iloc[[0, -1]]

first    A
fifth    E
dtype: object

---
get every 5th order of given pandas Series starting from 1st

In [269]:
X = pd.Series(range(1, 50))

In [270]:
# your code goes here

In [271]:
X[::5]

0      1
5      6
10    11
15    16
20    21
25    26
30    31
35    36
40    41
45    46
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## More Series manipulation

Convert the given integer pandas Series to float

In [272]:
X = pd.Series([1, 2, 3, 4, 5], index=["first", "second", "third", "forth", "fifth"])

In [ ]:
# your code goes here

In [274]:
pd.Series(X, dtype=float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

---
Reverse the given pandas Series (first element becomes last)

In [275]:
X = pd.Series([1, 2, 3, 4, 5], index=["first", "second", "third", "forth", "fifth"])

In [276]:
# your code goes here

In [277]:
X[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

---
Order (sort) the given pandas Series, by index and values. Print both result.

In [278]:
X = pd.Series([4, 2, 5, 1, 3], index=["forth", "second", "fifth", "first", "third"])

In [ ]:
# your code goes here

In [279]:
print(X.sort_index())
print("")
print(X.sort_values())

fifth     5
first     1
forth     4
second    2
third     3
dtype: int64

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

---
Given the X pandas Series, set the fifth element equal to 10

In [280]:
X = pd.Series([1, 2, 3, 4, 5], index=["A", "B", "C", "D", "E"])

In [ ]:
# your code goes here

In [281]:
X[4] = 10
X

A     1
B     2
C     3
D     4
E    10
dtype: int64

---
Given the X pandas Series, change all the middle elements to 0

In [282]:
X = pd.Series([1, 2, 3, 4, 5], index=["A", "B", "C", "D", "E"])

In [ ]:
# your code goes here

In [283]:
X[1:-1] = 0
X

A    1
B    0
C    0
D    0
E    5
dtype: int64

---
Given the X pandas Series, add 1000 to every element

In [284]:
X = pd.Series([1, 2, 3, 4, 5])

In [ ]:
# your code goes here

In [229]:
X + 1000

A    1001
B    1002
C    1003
D    1004
E    1005
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

---
Given the X pandas Series, make a mask showing negative elements
- do not use mask, just print the mask to show booleans

In [285]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

In [ ]:
# your code goes here

In [286]:
mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

---
Given the X pandas Series, get the negative elements
- use mask to see filtered result

In [ ]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])  # given

In [ ]:
# your code goes here

In [290]:
mask = X <= 0
X[mask]

0   -1
2    0
3   -4
6    0
7    0
8   -9
dtype: int64

---
Given the X pandas Series, get numbers higher than 5

In [ ]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

In [ ]:
# your code goes here

In [ ]:
mask = X > 5
X[mask]

5     6
9    10
dtype: int64

---
Given the X pandas Series, get numbers higher than the elements mean

In [ ]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

In [ ]:
# your code goes here

In [292]:
X[X > X.mean()]

1     2
4     5
5     6
9    10
dtype: int64

---
Given the X pandas Series, get numbers equal to 2 or 10

In [ ]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

In [ ]:
# your code goes here

In [293]:
mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

---
Given the X pandas Series, get even numbers but not multiple of 5

In [294]:
X = pd.Series(range(1, 20))

In [ ]:
# your code goes here

In [296]:
mask = (X % 2 == 0) & (X % 5 != 0)
X[mask]

1      2
3      4
5      6
7      8
11    12
13    14
15    16
17    18
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Logic functions

---
Given the X pandas Series, using `all()` or `any()`, print in order:
- return True if any of its elements is zero
- return True if none of its elements is zero

In [299]:
X = pd.Series([-1, 2, 0, -4, 5, 6, 0, 0, -9, 10])

In [ ]:
# your code goes here

In [300]:
print(X.any())
print(X.all())

True
False

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

---
Given the X pandas Series, show aggregation of its elements:

* print in order *
- sum
- average
- standard deviation - round up to 2 decimal
- maximum

In [ ]:
X = pd.Series([3, 5, 6, 7, 2, 3, 4, 9, 4])

In [ ]:
# your code goes here

In [304]:
print(X.sum())
print(X.mean())
print(X.std().round(2))
print(X.max())

9
0.9
5.32
10