![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)

<hr style="margin-bottom: 40px;">

<img src="https://user-images.githubusercontent.com/7065401/75165824-badf4680-5701-11ea-9c5b-5475b0a33abf.png"
    style="width:300px; float: right; margin: 0 40px 40px 40px;"></img>

# Pandas - `DataFrame`s

Probably the most important data structure of pandas is the `DataFrame`. It's a tabular structure tightly integrated with `Series`.

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Hands on!

In [1]:
import numpy as np
import pandas as pd

# DataFrame Creation

In [3]:
df = pd.DataFrame()
df
# look carefully, you will see empty dataframe below

Empty DataFrame
Columns: []
Index: []

### using dictionary and list

We'll keep our analysis of G7 but more extended version compared to the one we used at Series.

Ccountries and looking now at DataFrames. As said, a DataFrame looks a lot like a table

(as the one you can appreciate [here](https://docs.google.com/spreadsheets/d/1IlorV2-Oh9Da1JAZ7weVw86PQrQydSMp-ydVMH135iI/edit?usp=sharing)):

<img width="700" src="https://user-images.githubusercontent.com/872296/38153492-72c032ca-3443-11e8-80f4-9de9060a5127.png" />

In [10]:
# do not worry about how to create dataframe using dictionary.
# Consider the code to create df is just given
# Creating `DataFrame`s manually can be tedious.
# 99% of the time you'll be pulling the data from a Database, a csv file or the web.
# But still, you can create a DataFrame by specifying the columns and values:

df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94, 60.665, 127.061, 64.511, 318.523],
    'GDP': [1785387, 2833687, 3874437, 2167744, 4602367, 2950039, 17348075],
    'Surface Area': [9984670, 640679, 357114, 301336, 377930, 242495, 9525067],
    'HDI': [0.913, 0.888, 0.916, 0.873, 0.891, 0.907, 0.915],
    'Continent': ['America', 'Europe', 'Europe', 'Europe', 'Asia', 'Europe', 'America']
},
    columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent']
)

df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

Note that the dataframe we just made has columns and indexes. And we just add columns as attribute while creation. _(The `columns` attribute is optional. I'm using it to keep the same order as in the picture above)_

`DataFrame`s also have indexes. As you can see in the "table" above, pandas has assigned a numeric, autoincremental index automatically to each "row" in our DataFrame. In our case, we know that each row represents a country, so we'll just reassign the index:

In [5]:
# initially, by default, we have range index
df.index

RangeIndex(start=0, stop=7, step=1)

In [7]:
# remember we assign columns as attribute "columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])"
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [12]:
# lets set string index

df.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [13]:
df.index

Index(['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom',
       'United States'],
      dtype='object')

### always save backup

In [14]:
df0 = df.copy()
df0

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

# get quick summary

In [15]:
df.describe()

       Population           GDP  Surface Area       HDI
count    7.000000  7.000000e+00  7.000000e+00  7.000000
mean   107.302571  5.080248e+06  3.061327e+06  0.900429
std     97.249970  5.494020e+06  4.576187e+06  0.016592
min     35.467000  1.785387e+06  2.424950e+05  0.873000
25%     62.308000  2.500716e+06  3.292250e+05  0.889500
50%     64.511000  2.950039e+06  3.779300e+05  0.907000
75%    104.000500  4.238402e+06  5.082873e+06  0.914000
max    318.523000  1.734808e+07  9.984670e+06  0.916000

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Canada to United States
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [17]:
df.size  # element count

35

In [18]:
df.shape  # row and col size

(7, 5)

In [19]:
df.shape[0]  # row count

7

In [20]:
df.dtypes  # not dtype

Population      float64
GDP               int64
Surface Area      int64
HDI             float64
Continent        object
dtype: object

In [21]:
df.dtypes.value_counts()

float64    2
int64      2
object     1
Name: count, dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Indexing, Selection and Slicing

Individual columns in the DataFrame can be selected with regular indexing. Each column is represented as a `Series`:

In [22]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [23]:
# Germany GDP = 3874437
df.iloc[2, 1]

3874437

In [24]:
# bottom right corner
df.iloc[-1, -1]

'America'

In [25]:
df.iloc[-1].iloc[-1]  # this is possible (chained indexing)

'America'

In [26]:
df.loc['Canada']  # getting a row

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [27]:
df['Canada']  # error Canada is NOT one of columns

KeyError: 'Canada'

In [ ]:
df['Population']  # getting a column

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: Population, dtype: float64

In [ ]:
df.loc['Population']

KeyError: 'Population'

---

Note that the `index` of the returned Series is the same as the DataFrame one. And its `name` is the name of the column. If you're working on a notebook and want to see a more DataFrame-like format you can use the `to_frame` method:

In [ ]:
x = df.loc['Canada']
# note that taking single row or column will result Series NOT dataframe
print(type(df), type(x))

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [ ]:
x = df['Population']
# note that taking single row or column will result Series NOT dataframe
print(type(df), type(x))

<class 'pandas.core.frame.DataFrame'> <class 'pandas.core.series.Series'>

In [ ]:
df['Population'].to_frame()  # use to_frame() to convert Series to DataFrame

                Population
Canada              35.467
France              63.951
Germany             80.940
Italy               60.665
Japan              127.061
United Kingdom      64.511
United States      318.523

## Multiple Indexing

Multiple columns can also be selected similarly to `numpy` and `Series`:

In [ ]:
df  # recall

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In this case, the result is another `DataFrame`. Slicing works differently, it acts at "row level", and can be counter intuitive:

In [ ]:
df[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

In [ ]:
df.iloc[1:3]

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe

Row level selection works better with `loc` and `iloc` **which are recommended** over regular "direct slicing" (`df[:]`).

`loc` selects rows matching the given index:

In [ ]:
# common error -> this is like getting row of France and column of Italy
df.loc['France', 'Italy']

KeyError: 'Italy'

In [ ]:
df.loc[['France', 'Italy']]

        Population      GDP  Surface Area    HDI Continent
France      63.951  2833687        640679  0.888    Europe
Italy       60.665  2167744        301336  0.873    Europe

In [ ]:
df.loc['France': 'Italy']

         Population      GDP  Surface Area    HDI Continent
France       63.951  2833687        640679  0.888    Europe
Germany      80.940  3874437        357114  0.916    Europe
Italy        60.665  2167744        301336  0.873    Europe

As a second "argument", you can pass the column(s) you'd like to select:

In [ ]:
df.loc['France': 'Italy', 'Population']

France     63.951
Germany    80.940
Italy      60.665
Name: Population, dtype: float64

In [ ]:
df.loc['France': 'Italy', ['Population', 'GDP']]

         Population      GDP
France       63.951  2833687
Germany      80.940  3874437
Italy        60.665  2167744

`iloc` works with the (numeric) "position" of the index:

In [ ]:
df  # recall

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.iloc[0]  # df.iloc[0, :]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: Canada, dtype: object

In [ ]:
df.iloc[-1]  # df.iloc[-1]

Population       318.523
GDP             17348075
Surface Area     9525067
HDI                0.915
Continent        America
Name: United States, dtype: object

In [ ]:
df.iloc[[0, 1, -1]]

               Population       GDP  Surface Area    HDI Continent
Canada             35.467   1785387       9984670  0.913   America
France             63.951   2833687        640679  0.888    Europe
United States     318.523  17348075       9525067  0.915   America

In [ ]:
df.iloc[1:3, :-2]

         Population      GDP  Surface Area
France       63.951  2833687        640679
Germany      80.940  3874437        357114

In [ ]:
df.iloc[1:3, 3]

France     0.888
Germany    0.916
Name: HDI, dtype: float64

In [ ]:
df.iloc[1:3, [0, 3]]

         Population    HDI
France       63.951  0.888
Germany      80.940  0.916

In [ ]:
df.iloc[1:3, 1:3]

             GDP  Surface Area
France   2833687        640679
Germany  3874437        357114

> **RECOMMENDED: Always use `loc` and `iloc` to reduce ambiguity, specially with `DataFrame`s with numeric indexes.**

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Conditional selection (boolean arrays)

We saw conditional selection applied to `Series` and it'll work in the same way for `DataFrame`s. After all, a `DataFrame` is a collection of `Series`:

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df['Population'] > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool

In [ ]:
df.loc[df['Population'] > 70]  # standard

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

In [ ]:
df[df['Population'] > 70]  # same result

               Population       GDP  Surface Area    HDI Continent
Germany            80.940   3874437        357114  0.916    Europe
Japan             127.061   4602367        377930  0.891      Asia
United States     318.523  17348075       9525067  0.915   America

The boolean matching is done at Index level, so you can filter by any row, as long as it contains the right indexes. Column selection still works as expected:

In [ ]:
df.loc[df['Population'] > 70, 'Population']

Germany           80.940
Japan            127.061
United States    318.523
Name: Population, dtype: float64

In [ ]:
df[df['Population'] > 70, 'Population']  # loc 생략 못함

InvalidIndexError: (Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: Population, dtype: bool, 'Population')

In [ ]:
df.loc[df['Population'] > 70, ['Population', 'GDP']]

               Population       GDP
Germany            80.940   3874437
Japan             127.061   4602367
United States     318.523  17348075

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Dropping stuff

Opposed to the concept of selection, we have "dropping". Instead of pointing out which values you'd like to _select_ you could point which ones you'd like to `drop`:

In [ ]:
df.drop('Japan')

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df  # reprinting df, and it still has Japan. Why?

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.drop(['Canada', 'Japan'])

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.drop(columns=['Population', 'HDI'])  # if you want to drop columns

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [ ]:
df.drop(['Italy', 'Canada'], axis=0)

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df.drop(['Population', 'HDI'], axis=1)

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [ ]:
df.drop(['Population', 'HDI'], axis=1)

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [ ]:
df.drop(['Population', 'HDI'], axis='columns')

                     GDP  Surface Area Continent
Canada           1785387       9984670   America
France           2833687        640679    Europe
Germany          3874437        357114    Europe
Italy            2167744        301336    Europe
Japan            4602367        377930      Asia
United Kingdom   2950039        242495    Europe
United States   17348075       9525067   America

In [ ]:
df.drop(['Canada', 'Germany'], axis='rows')

                Population       GDP  Surface Area    HDI Continent
France              63.951   2833687        640679  0.888    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

All these `drop` methods return a new `DataFrame`. If you'd like to modify it "in place", you can use the `inplace` attribute (there's an example below).

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Operations

In [ ]:
# remember we do not add loc when we are selecting columns
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

In [ ]:
df[['Surface Area', 'Population', 'Continent']] / 100

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
df[['Surface Area', 'Population', 'GDP']] / 100

                Surface Area  Population        GDP
Canada              99846.70     0.35467   17853.87
France               6406.79     0.63951   28336.87
Germany              3571.14     0.80940   38744.37
Italy                3013.36     0.60665   21677.44
Japan                3779.30     1.27061   46023.67
United Kingdom       2424.95     0.64511   29500.39
United States       95250.67     3.18523  173480.75

## More Activity

**Operations with Series** work at a column level, broadcasting down the rows (which can be counter intuitive).

In [ ]:
crisis = pd.Series([-1_000_000, -0.3], index=['GDP', 'HDI'])
crisis

GDP   -1000000.0
HDI         -0.3
dtype: float64

In [ ]:
df[['GDP', 'HDI']]

                     GDP    HDI
Canada           1785387  0.913
France           2833687  0.888
Germany          3874437  0.916
Italy            2167744  0.873
Japan            4602367  0.891
United Kingdom   2950039  0.907
United States   17348075  0.915

In [ ]:
df[['GDP', 'HDI']] + crisis

                       GDP    HDI
Canada            785387.0  0.613
France           1833687.0  0.588
Germany          2874437.0  0.616
Italy            1167744.0  0.573
Japan            3602367.0  0.591
United Kingdom   1950039.0  0.607
United States   16348075.0  0.615

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Modifying DataFrames

It's simple and intuitive, You can add columns, or replace values for columns without issues:

### Adding a new column

In [ ]:
# this is just given
langs = pd.Series(
    ['French', 'German', 'Italian'],
    index=['France', 'Germany', 'Italy'],
    name='Language'
)

langs

France      French
Germany     German
Italy      Italian
Name: Language, dtype: object

In [ ]:
df['Language'] = langs
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

---

### Replacing values per column

In [ ]:
df['Language'] = 'English'  # broadcasting
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America  English
France              63.951   2833687        640679  0.888    Europe  English
Germany             80.940   3874437        357114  0.916    Europe  English
Italy               60.665   2167744        301336  0.873    Europe  English
Japan              127.061   4602367        377930  0.891      Asia  English
United Kingdom      64.511   2950039        242495  0.907    Europe  English
United States      318.523  17348075       9525067  0.915   America  English

In [ ]:
df['President'] = "Trump"
df

,Population,GDP,Surface Area,HDI,Continent,Language,President
Canada,35.467,1785387,9984670,0.913,America,English,Trump
France,63.951,2833687,640679,0.888,Europe,English,Trump
Germany,80.940,3874437,357114,0.916,Europe,English,Trump
Italy,60.665,2167744,301336,0.873,Europe,English,Trump
Japan,127.061,4602367,377930,0.891,Asia,English,Trump
United Kingdom,64.511,2950039,242495,0.907,Europe,English,Trump
United States,318.523,17348075,9525067,0.915,America,English,Trump

In [ ]:
df['Language'] = langs
df

,Population,GDP,Surface Area,HDI,Continent,Language,President
Canada,35.467,1785387,9984670,0.913,America,NaN,Trump
France,63.951,2833687,640679,0.888,Europe,French,Trump
Germany,80.940,3874437,357114,0.916,Europe,German,Trump
Italy,60.665,2167744,301336,0.873,Europe,Italian,Trump
Japan,127.061,4602367,377930,0.891,Asia,NaN,Trump
United Kingdom,64.511,2950039,242495,0.907,Europe,NaN,Trump
United States,318.523,17348075,9525067,0.915,America,NaN,Trump

In [ ]:
# drop trump
df = df.drop("President", axis=1)
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

In [ ]:
# drop trump again with error
df = df.drop("President", axis=1)
df

KeyError: "['President'] not found in axis"

In [ ]:
df = df.drop("President", axis=1, errors="ignore")
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

In [ ]:
df0 = df.copy()
df.drop(columns='GDP', inplace=True)  # save without equal sign

In [ ]:
df = df0  # rollback
df

                Population  Surface Area    HDI Continent
Canada              35.467       9984670  0.913   America
France              63.951        640679  0.888    Europe
Germany             80.940        357114  0.916    Europe
Italy               60.665        301336  0.873    Europe
Japan              127.061        377930  0.891      Asia
United Kingdom      64.511        242495  0.907    Europe
United States      318.523       9525067  0.915   America

---

### Renaming Columns

In [ ]:
ori_col_names = df.columns
ori_col_names

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent', 'Language'], dtype='object')

In [ ]:
df.columns = ["Pop", "GDP", "SurfArea", "HDI", "Cont", "Lang"]
df

                    Pop       GDP  SurfArea    HDI     Cont     Lang
Canada           35.467   1785387   9984670  0.913  America      NaN
France           63.951   2833687    640679  0.888   Europe   French
Germany          80.940   3874437    357114  0.916   Europe   German
Italy            60.665   2167744    301336  0.873   Europe  Italian
Japan           127.061   4602367    377930  0.891     Asia      NaN
United Kingdom   64.511   2950039    242495  0.907   Europe      NaN
United States   318.523  17348075   9525067  0.915  America      NaN

In [ ]:
df.columns = ori_col_names  # roll back
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America      NaN
France              63.951   2833687        640679  0.888    Europe   French
Germany             80.940   3874437        357114  0.916    Europe   German
Italy               60.665   2167744        301336  0.873    Europe  Italian
Japan              127.061   4602367        377930  0.891      Asia      NaN
United Kingdom      64.511   2950039        242495  0.907    Europe      NaN
United States      318.523  17348075       9525067  0.915   America      NaN

In [ ]:
df.rename(
    columns={
        'HDI': 'Human Development Index',
        'Anual Popcorn Consumption': 'APC'  # no key error
    },
    index={
        'United States': 'USA',
        'United Kingdom': 'UK',
        'Argentina': 'AR'
    }
)

,Population,GDP,Surface Area,Human Development Index,Continent,Language
Canada,35.467,1785387,9984670,0.913,America,NaN
France,63.951,2833687,640679,0.888,Europe,French
Germany,80.940,3874437,357114,0.916,Europe,German
Italy,60.665,2167744,301336,0.873,Europe,Italian
Japan,127.061,4602367,377930,0.891,Asia,NaN
UK,64.511,2950039,242495,0.907,Europe,NaN
USA,318.523,17348075,9525067,0.915,America,NaN

In [ ]:
df.rename(index=str.upper)

                Population       GDP  Surface Area    HDI Continent Language
CANADA              35.467   1785387       9984670  0.913   America      NaN
FRANCE              63.951   2833687        640679  0.888    Europe   French
GERMANY             80.940   3874437        357114  0.916    Europe   German
ITALY               60.665   2167744        301336  0.873    Europe  Italian
JAPAN              127.061   4602367        377930  0.891      Asia      NaN
UNITED KINGDOM      64.511   2950039        242495  0.907    Europe      NaN
UNITED STATES      318.523  17348075       9525067  0.915   America      NaN

In [ ]:
df.rename(index=lambda x: x.lower())

                Population       GDP  Surface Area    HDI Continent Language
canada              35.467   1785387       9984670  0.913   America      NaN
france              63.951   2833687        640679  0.888    Europe   French
germany             80.940   3874437        357114  0.916    Europe   German
italy               60.665   2167744        301336  0.873    Europe  Italian
japan              127.061   4602367        377930  0.891      Asia      NaN
united kingdom      64.511   2950039        242495  0.907    Europe      NaN
united states      318.523  17348075       9525067  0.915   America      NaN

In [ ]:
df.rename(index=lambda x: "***" + x + "***")

,Population,GDP,Surface Area,HDI,Continent,Language
***Canada***,35.467,1785387,9984670,0.913,America,NaN
***France***,63.951,2833687,640679,0.888,Europe,French
***Germany***,80.940,3874437,357114,0.916,Europe,German
***Italy***,60.665,2167744,301336,0.873,Europe,Italian
***Japan***,127.061,4602367,377930,0.891,Asia,NaN
***United Kingdom***,64.511,2950039,242495,0.907,Europe,NaN
***United States***,318.523,17348075,9525067,0.915,America,NaN

In [ ]:
df.rename(index=lambda x: x[-5:])

       Population       GDP  Surface Area    HDI Continent Language
anada      35.467   1785387       9984670  0.913   America      NaN
rance      63.951   2833687        640679  0.888    Europe   French
rmany      80.940   3874437        357114  0.916    Europe   German
Italy      60.665   2167744        301336  0.873    Europe  Italian
Japan     127.061   4602367        377930  0.891      Asia      NaN
ngdom      64.511   2950039        242495  0.907    Europe      NaN
tates     318.523  17348075       9525067  0.915   America      NaN

---

### Adding values

In [ ]:
df  # recall df

                Population       GDP  Surface Area    HDI Continent President
Canada              35.467   1785387       9984670  0.913   America     Trump
France              63.951   2833687        640679  0.888    Europe     Trump
Germany             80.940   3874437        357114  0.916    Europe     Trump
Italy               60.665   2167744        301336  0.873    Europe     Trump
Japan              127.061   4602367        377930  0.891      Asia     Trump
United Kingdom      64.511   2950039        242495  0.907    Europe     Trump
United States      318.523  17348075       9525067  0.915   America     Trump

In [ ]:
newdf = pd.Series({
    'Population': 3,
    'GDP': 5
}
)
pd.concat([df, newdf])

,Population,GDP,Surface Area,HDI,Continent,President,0
Canada,35.467,1785387.0,9984670.0,0.913,America,Trump,NaN
France,63.951,2833687.0,640679.0,0.888,Europe,Trump,NaN
Germany,80.940,3874437.0,357114.0,0.916,Europe,Trump,NaN
Italy,60.665,2167744.0,301336.0,0.873,Europe,Trump,NaN
Japan,127.061,4602367.0,377930.0,0.891,Asia,Trump,NaN
United Kingdom,64.511,2950039.0,242495.0,0.907,Europe,Trump,NaN
United States,318.523,17348075.0,9525067.0,0.915,America,Trump,NaN
Population,NaN,NaN,NaN,NaN,NaN,NaN,3.0
GDP,NaN,NaN,NaN,NaN,NaN,NaN,5.0

Append returns a new `DataFrame`:

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent Language
Canada              35.467   1785387       9984670  0.913   America  English
France              63.951   2833687        640679  0.888    Europe  English
Germany             80.940   3874437        357114  0.916    Europe  English
Italy               60.665   2167744        301336  0.873    Europe  English
Japan              127.061   4602367        377930  0.891      Asia  English
United Kingdom      64.511   2950039        242495  0.907    Europe  English
United States      318.523  17348075       9525067  0.915   America  English

You can directly set the new index and values to the `DataFrame`:

In [ ]:
df.loc['China'] = pd.Series({'Population': 1_400_000_000, 'Continent': 'Asia'})

In [ ]:
df

We can use `drop` to just remove a row by index:

In [ ]:
df.drop('China', inplace=True)

In [ ]:
df

---

### More radical index changes

In [ ]:
df  # recall

                Population       GDP  Surface Area    HDI Continent President
Canada              35.467   1785387       9984670  0.913   America     Trump
France              63.951   2833687        640679  0.888    Europe     Trump
Germany             80.940   3874437        357114  0.916    Europe     Trump
Italy               60.665   2167744        301336  0.873    Europe     Trump
Japan              127.061   4602367        377930  0.891      Asia     Trump
United Kingdom      64.511   2950039        242495  0.907    Europe     Trump
United States      318.523  17348075       9525067  0.915   America     Trump

In [ ]:
df = df.reset_index()
df

,index,Population,GDP,Surface Area,HDI,Continent,President
0,Canada,35.467,1785387,9984670,0.913,America,Trump
1,France,63.951,2833687,640679,0.888,Europe,Trump
2,Germany,80.940,3874437,357114,0.916,Europe,Trump
3,Italy,60.665,2167744,301336,0.873,Europe,Trump
4,Japan,127.061,4602367,377930,0.891,Asia,Trump
5,United Kingdom,64.511,2950039,242495,0.907,Europe,Trump
6,United States,318.523,17348075,9525067,0.915,America,Trump

In [ ]:
df.columns = ["name", "pop", "gdp", "surf", "hdi", "cont", "presid"]
df

             name      pop       gdp     surf    hdi     cont presid
0          Canada   35.467   1785387  9984670  0.913  America  Trump
1          France   63.951   2833687   640679  0.888   Europe  Trump
2         Germany   80.940   3874437   357114  0.916   Europe  Trump
3           Italy   60.665   2167744   301336  0.873   Europe  Trump
4           Japan  127.061   4602367   377930  0.891     Asia  Trump
5  United Kingdom   64.511   2950039   242495  0.907   Europe  Trump
6   United States  318.523  17348075  9525067  0.915  America  Trump

In [ ]:
df.set_index('cont')

                   name      pop       gdp     surf    hdi presid
cont
America          Canada   35.467   1785387  9984670  0.913  Trump
Europe           France   63.951   2833687   640679  0.888  Trump
Europe          Germany   80.940   3874437   357114  0.916  Trump
Europe            Italy   60.665   2167744   301336  0.873  Trump
Asia              Japan  127.061   4602367   377930  0.891  Trump
Europe   United Kingdom   64.511   2950039   242495  0.907  Trump
America   United States  318.523  17348075  9525067  0.915  Trump

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Creating columns from other columns

Altering a DataFrame often involves combining different columns into another. For example, in our Countries analysis, we could try to calculate the "GDP per capita", which is just, `GDP / Population`.

In [ ]:
df

                Population       GDP  Surface Area    HDI Continent
Canada              35.467   1785387       9984670  0.913   America
France              63.951   2833687        640679  0.888    Europe
Germany             80.940   3874437        357114  0.916    Europe
Italy               60.665   2167744        301336  0.873    Europe
Japan              127.061   4602367        377930  0.891      Asia
United Kingdom      64.511   2950039        242495  0.907    Europe
United States      318.523  17348075       9525067  0.915   America

In [ ]:
df[['Population', 'GDP']]

                Population       GDP
Canada              35.467   1785387
France              63.951   2833687
Germany             80.940   3874437
Italy               60.665   2167744
Japan              127.061   4602367
United Kingdom      64.511   2950039
United States      318.523  17348075

The regular pandas way of expressing that, is just dividing each series:

In [ ]:
df['GDP'] / df['Population']

Canada            50339.385908
France            44310.284437
Germany           47868.013343
Italy             35733.025633
Japan             36221.712406
United Kingdom    45729.239975
United States     54464.120330
dtype: float64

The result of that operation is just another series that you can add to the original `DataFrame`:

In [ ]:
df['GDP Per Capita'] = df['GDP'] / df['Population']
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
Canada,35.467,1785387,9984670,0.913,America,50339.385908
France,63.951,2833687,640679,0.888,Europe,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,36221.712406
United Kingdom,64.511,2950039,242495,0.907,Europe,45729.239975
United States,318.523,17348075,9525067,0.915,America,54464.120330

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

## Statistical info

You've already seen the `describe` method, which gives you a good "summary" of the `DataFrame`. Let's explore other methods in more detail:

In [ ]:
population = df['Population']
population.min(), population.max(), population.sum(
), population.median(), population.mean()

(35.467, 318.523, 751.118, 64.511, 107.30257142857144)

In [ ]:
population.sum() / len(population)

107.30257142857144

In [ ]:
population.describe()

count      7.000000
mean     107.302571
std       97.249970
min       35.467000
25%       62.308000
50%       64.511000
75%      104.000500
max      318.523000
Name: Population, dtype: float64

In [ ]:
population.quantile(.25)

62.308

In [ ]:
population.quantile(.75)

104.0005

In [ ]:
population.quantile([.2, .4, .6, .8, 1])

0.2     61.3222
0.4     64.1750
0.6     74.3684
0.8    117.8368
1.0    318.5230
Name: Population, dtype: float64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

In [ ]:
df

,Population,GDP,Surface Area,HDI,Continent,GDP Per Capita
Canada,35.467,1785387,9984670,0.913,America,50339.385908
France,63.951,2833687,640679,0.888,Europe,44310.284437
Germany,80.940,3874437,357114,0.916,Europe,47868.013343
Italy,60.665,2167744,301336,0.873,Europe,35733.025633
Japan,127.061,4602367,377930,0.891,Asia,36221.712406
United Kingdom,64.511,2950039,242495,0.907,Europe,45729.239975
United States,318.523,17348075,9525067,0.915,America,54464.120330

In [ ]:
df.loc[df["Continent"] == "Europe", "GDP"].mean()

2956476.75

In [ ]:
df.loc[df["Continent"] == "America", "GDP"].mean()

9566731.0

In [ ]:
df.loc[df["Continent"] == "Asia", "GDP"].mean()

4602367.0

In [ ]:
# error cannot find avg of Continent
df.loc[df["Continent"] == "Europe"].mean()

TypeError: Could not convert ['EuropeEuropeEuropeEurope'] to numeric

In [ ]:
df.groupby("Continent").mean()

           Population         GDP  Surface Area    HDI  GDP Per Capita
Continent
America     176.99500  9566731.00     9754868.5  0.914    52401.753119
Asia        127.06100  4602367.00      377930.0  0.891    36221.712406
Europe       67.51675  2956476.75      385406.0  0.896    43410.140847

In [ ]:
df.groupby("HDI").mean()  # cannot group by based on number value

TypeError: Could not convert Europe to numeric