In [28]:
import os,sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import scipy as sp
from random import random
from scipy.special import comb
from scipy.integrate import quad
from scipy import stats

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

In [ ]:
# 올해 한 기업체 신입사원의 남녀 월급을 조사하기 위해 남자사원 15명, 여자원 14명의 표본을 추출하였다.
# 남자 사원

In [ ]:
# sp.stats.norm.cdf()
# sp.stats.norm.rvs()

In [8]:
sp.stats.norm.cdf(1.96)

0.9750021048517795

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

In [ ]:
# [예제 : 아래에 대한 가설검정을 수행하여라 ]
#  다음 : 추정에 따른 검증 -표준편차의 변화한 값이 유의할까?
#  A사 K모델 자동차의 연비는 평균 12.5(km/l), 표준편차 0.5(km/l)로
#  알려져 있는데, 새로 개발된 엔진을 장착한 40대의 자동차 연비를
#  측정한 결과 표본평균이 12.64(km/l)로 나왔다.

# 1. 기존 연비와 오차범위에서 동일하다고 말할 수 있는가? 유의수준 5%로 가설검정해보자 
# H0 : mu  = 12.5 
# H1 : mu != 12.5

In [10]:
mu=12.5
se=0.5
n=40
xbar=12.64

In [11]:
Z=(xbar-mu)/(se/np.sqrt(n))
Z

1.7708754896942995

In [14]:
zalpha=sp.stats.norm.cdf(Z)
zalpha

0.9617092954821657

In [18]:
P=(1-zalpha)*2
P

0.07658140903566868

In [20]:
sp.stats.norm().sf(np.abs(Z))*2

0.07658140903566876

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

In [ ]:
# H0 치킨의 중량은 625g이다.
# H1: 치킨은 625g이 아니다.  mu != mu0  치킨문제
# 유의수준 5%로 검증하자

In [79]:
xbar=626
mu=625
var=10
se=np.sqrt(var)
n=50
samples=np.random.normal(loc=xbar,scale=se,size=n)

In [80]:
Z=(xbar-mu)/(se/np.sqrt(n))
Z

2.23606797749979

In [81]:
#alpha가 0.987로  기각역 0.975를 넘어감
alpha=sp.stats.norm.cdf(Z)
alpha

0.9873263406612659

In [91]:
res1=(1-alpha)*2 # p-value
res1

0.0253473186774682

In [92]:
res2=sp.stats.norm().sf(np.abs(Z))*2 # other way to calculate p-val
res2

0.025347318677468252

In [72]:
from statsmodels.stats.weightstats import ztest

In [85]:
target_data=np.random.normal(xbar,se,n)

In [84]:
target_data.mean()

625.9988220953604

In [90]:
samples=np.random.normal(loc=xbar,scale=se,size=n)
zval,pval=ztest(target_data,value=mu,alternative='two-sided')
(zval,pval)

(2.367963022333537, 0.01788632346608365)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

In [105]:
# H0: 도넛의 평균칼로리가 100이다.
# H1: 아니다. 100보다 작은 것 같다.
# 유의수준 5%
mu=100
n=64
xbar=95
se=10

In [106]:
Z=(xbar-mu)/(se/np.sqrt(n))
Z

-4.0

In [107]:
alpha=sp.stats.norm.cdf(Z)
alpha

3.167124183311986e-05

In [112]:
pval1=alpha # H1<H0으로 검정하는 것이기 때문에, 그대로 간다
pval1

3.167124183311986e-05

In [113]:
pval2=sp.stats.norm().sf(np.abs(Z)) # other way to calculate p-val
pval2

3.167124183311986e-05

In [138]:
samples=np.random.normal(loc=xbar,scale=se,size=1000000)
zval,pval=ztest(samples,value=mu,alternative='smaller')
(zval,pval)

(-500.33310499490074, 0.0)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

# TWO VARIABLES